<!DOCTYPE html>
<html lang="en">

<head>
  <title>Invntory API</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>REST API for managing inventory using Node.js, Express, and MongoDB</h1>
  <p>Author: {{name}}</p>
  <a href="/inventory-doc">Go to API Doc</a>
</body>

</html>